[submodule "validate-npm-package-name"]
  path = validate-npm-package-name
  url = https://github.com/furfur-jiang/validate-npm-package-name.git
[submodule "axios"]
  path = axios
  url = https://github.com/furfur-jiang/axios.git
[submodule "vue3"]
  path = vue3
  url = https://github.com/furfur-jiang/vue3-core-read-node.git